<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	>
	<!--  default-lazy-init="true" Activates scanning of @Autowired -->
	<context:annotation-config/>
	
	<bean id="systemConfigService" class="com.wondertek.mobilevideo.core.recommend.service.impl.SystemConfigServiceImpl">
		<constructor-arg ref="systemConfigDao" />
	</bean>
	<bean id="prdTypeRelationService" class="com.wondertek.mobilevideo.core.recommend.service.impl.PrdTypeRelationServiceImpl">
		<constructor-arg ref="prdTypeRelationDao" />
	</bean>
	<bean id="recommendInfoService" class="com.wondertek.mobilevideo.core.recommend.service.impl.RecommendInfoServiceImpl">
		<constructor-arg ref="recommendInfoDao" />
	</bean>
	<bean id="enumsInfoService" class="com.wondertek.mobilevideo.core.recommend.service.impl.EnumsInfoServiceImpl">
		<constructor-arg ref="enumsInfoDao" />
	</bean>
	<!-- 20161108 -->
	<bean id="vomsRecommendService" class="com.wondertek.mobilevideo.core.recommend.service.impl.VomsRecommendServiceImpl">
		<constructor-arg ref="vomsRecommendDao" />
	</bean>
	<bean id="enumsConfigService" class="com.wondertek.mobilevideo.core.recommend.service.impl.EnumsConfigServiceImpl">
		<constructor-arg ref="enumsConfigDao" />
	</bean>
	<!-- 20161205 -->
	<bean id="topRecommendService" class="com.wondertek.mobilevideo.core.recommend.service.impl.TopRecommendServiceImpl">
		<constructor-arg ref="topRecommendDao" />
	</bean>	
</beans>